.title {
  font-family: 'Pirata One', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h1 {
  font-family: 'Pirata One', serif;
  font-weight: 400;
  font-style: normal;
}

li,
p,
button {
  font-family: 'Farro', serif;
  font-weight: 200;
  font-style: normal;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: 5px solid #563232;
  border-radius: 25px;
  background-color: #ffc18c;
  color: #563232;
}

#content {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid red;
}

button {
  border: 1px solid #563232;
  border-radius: 3px;
  color: #563232;
  background-color: #e7cfb4;
}
